:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #dfdfe0;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 20rem;
  min-height: 100vh;
  background-color: rgb(179, 179, 179);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  text-align: center;
  width: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyPages {
  flex-grow: 1;
}

.cart_icon img{
  position: absolute;
  right: 0.50rem;
  top: 5rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}

.cart_icon img:hover{
  transform: scale(1.2);
}

.plp_title{
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-top: 3rem;
}
@media (min-width:768px){
  .cart_icon img{
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
  }
  .plp_title{
    font-size: 3rem;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #b460f8;
  }

  button {
    background-color: #f9f9f9;
  }
}